<div class="row w-100">
  <div class="col-lg-12">
    <h2>Filter Customers</h2>
    <select  (change)="filterCustomers($event)">
      <option value="">All Customers</option>
      <option *ngFor="let customer of customers" [value]="customer.name">{{ customer.name }}</option>
    </select>
  </div>
  <div class="col-lg-6">
    <h2>Customers</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of filteredCustomers" (click)="selectCustomer(customer)">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row w-100">
  <div class="col-lg-6">
    <h2>Transaction Chart</h2>
    <canvas id="transactionChart"></canvas>
  </div>
</div>
